@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 100, 0, 0;
  }
}
